<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #a1{
            color: yellowgreen;
        }
        #a2{
            color: skyblue;
        }
    </style>
</head>
<body>
    <div id="a1">
        <i class="iphonenum" aria-hidden="true"></i>
        <input type="text" placeholder="手机号" name="num" />
        <button type="submit">提交</button>
      </div>
    <div id="a2">
        <i class="yanzhengnum" aria-hidden="true"></i>
        <input type="text" placeholder="验证码" name="yanzhengnum" />
      </div>
</body>
</html>